<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2017-01-03T06:35:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Mapbox-iOS-SDK</key>
			<dict>
				<key>date</key>
				<date>2017-09-26T01:58:33Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>Mapbox-iOS-SDK</string>
					<key>platform</key>
					<string>cocoapods</string>
					<key>uniqueIdentifier</key>
					<string>Mapbox-iOS-SDK</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Django_REST_Framework</key>
			<dict>
				<key>date</key>
				<date>2017-11-04T07:24:09Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>drf</string>
						<string>django rest framework</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Django_REST_Framework#readme</string>
					<key>authorLinkText</key>
					<string>Yong Guo</string>
					<key>name</key>
					<string>Django REST Framework</string>
					<key>platform</key>
					<string>usercontribDjango_REST_Framework</string>
					<key>uniqueIdentifier</key>
					<string>Django_REST_Framework</string>
				</dict>
			</dict>
			<key>OpenResty</key>
			<dict>
				<key>date</key>
				<date>2016-10-01T17:00:06Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/OpenResty#readme</string>
					<key>authorLinkText</key>
					<string>spacewander</string>
					<key>name</key>
					<string>OpenResty</string>
					<key>platform</key>
					<string>usercontribOpenResty</string>
					<key>uniqueIdentifier</key>
					<string>OpenResty</string>
				</dict>
			</dict>
			<key>React_Native</key>
			<dict>
				<key>date</key>
				<date>2017-06-13T12:25:52Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>ReactNative</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>iOS</string>
						<string>Android</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/React_Native#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>React Native</string>
					<key>platform</key>
					<string>usercontribReact_Native</string>
					<key>uniqueIdentifier</key>
					<string>React_Native</string>
				</dict>
			</dict>
			<key>Redux</key>
			<dict>
				<key>date</key>
				<date>2017-03-19T02:19:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Redux</string>
						<string>React</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>iOS</string>
						<string>Android</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Redux#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Redux</string>
					<key>platform</key>
					<string>usercontribRedux</string>
					<key>uniqueIdentifier</key>
					<string>Redux</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>annotationsAreShown</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Android.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:43:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/AngularJS.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-22T09:37:44Z</date>
			</dict>
			<key>http://kapeli.com/feeds/AngularTS.xml</key>
			<dict>
				<key>date</key>
				<date>2016-10-27T06:12:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2017-05-25T12:29:53Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bootstrap_3.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-22T09:37:43Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Chai.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Cordova.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Django.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-23T06:12:06Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Express.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Font_Awesome.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Go.xml</key>
			<dict>
				<key>date</key>
				<date>2017-12-29T08:56:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Gulp.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ionic.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:51Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:43:00Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lua_5.1.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-29T01:50:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Mocha.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MongoDB.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Nginx.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PhoneGap.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:42:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_2.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:59Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Redis.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Sinon.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-26T06:41:47Z</date>
			</dict>
			<key>https://www.mapbox.com/ios-sdk/docsets/Mapbox.xml</key>
			<dict>
				<key>date</key>
				<date>2017-05-25T12:28:50Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/ElasticSearch.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-22T09:40:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Grunt.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-22T09:40:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE8.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-22T09:40:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/KnockoutJS.xml</key>
			<dict>
				<key>date</key>
				<date>2016-01-22T12:26:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Less.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-22T09:40:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Mongoose.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-22T09:40:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-22T09:40:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery.xml</key>
			<dict>
				<key>date</key>
				<date>2016-09-22T09:40:29Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<false/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>icon</key>
			<string>defaultProfileIconYosemite</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>placeholder</key>
			<string>javascript</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<false/>
	<key>showSearchFallbacks</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Android.xml</key>
			<dict>
				<key>4.4.2</key>
				<dict>
					<key>date</key>
					<date>2015-05-13T05:46:26Z</date>
				</dict>
				<key>5.0.0</key>
				<dict>
					<key>date</key>
					<date>2015-05-13T05:43:27Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/AngularJS.xml</key>
			<dict>
				<key>1.4.5</key>
				<dict>
					<key>date</key>
					<date>2015-09-16T09:33:32Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Ionic.xml</key>
			<dict/>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Ionic.xml</key>
			<dict>
				<key>2.0.0-rc.4</key>
				<dict>
					<key>date</key>
					<date>2017-05-31T00:44:11Z</date>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
